body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* <!-- Header-Banner Area Start --> */

.header-container {
    width: 100%;
    height: 650px;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: center;
}

.header-title {
    font-size: 45px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.header-description {
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    padding: 10px 0;
    margin-bottom: 50px;
    
}

.donation-button {
    padding: 10px 44px;
    background-color: #f3901b;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* <!-- Header-Banner Area End --> */


/* <!-- Donation Section Area Start --> */

.donate-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-content {
    text-align: center;
    padding: 55px 0 10px 0;
}

.donate-title {
    font-size: 36px;
    font-weight: 600;
    color: #cd366b;
    margin: 0;
}

.donate-description {
    font-size:20px;
    font-weight: 300;
    color: #44364e;
    padding: 10px 0;
}

/* <!-- Donation Section Area End --> */


/* <!-- Donation Amount Area start --> */

.donate-amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-amount {
    width: 80px;
    height: auto;
    background-color:#CD366B;
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

.donate-amount-active {
    width: 80px;
    height: auto;
    background-color:#7D2369;
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

.donate-amount:hover {
    background-color:#7D2369;
}

.donate-amount-title {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.input-amount {
    display: block;
}

/* <!-- Donation Amount Area End --> */


/* <!-- Donation Button with Submit Button Area Start --> */

.donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.donate-area {
    text-align: center;
}

.donate-input-area {
    width: 350px;
    text-align: center;
    border: none;
    padding: 10px;
}

.donate-button {
    padding: 10px 44px;
    background-color: #f3901b;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* <!-- Donation Button with Submit Button Area End --> */


/* <!-- donate Plan Area Start --> */

.donate-plan-area {
    text-align: center;
    padding: 55px 0 10px 0;
}

.donate-plan-title {
    font-size: 36px;
    font-weight: 600;
    color: #cd366b;
    margin: 0;
}

.donate-plan-description {
    font-size:20px;
    font-weight: 300;
    color: #44364e;
    padding: 10px 0;
}

.donate-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.donate-card1  {
    text-align: left;
    width:400px ;
    height: auto;
    background-color: #812570;
    margin-left: 10px;
    padding: 20px;
    color:#ffffff
}

.foster {
    background-color: #C62F64;
}

.education {
    background-color: #F38719;
}

/* <!-- donate Plan Area End --> */

/* <!-- Adoption Area Start --> */

.adoption-area {
    text-align: center;
    padding: 55px 0 10px 0;
}

.adoption-gallery {
    display: inline-block;
}

.adoption-gallery img {
    width:300px ;
    height:300px ;
    border-radius: 10px;
}

.adoption-title {
    font-size: 36px;
    font-weight: 600;
    color: #cd366b;
    margin: 0;
}

.adoption-description {
    font-size:20px;
    font-weight: 300;
    color: #44364e;
    padding: 10px 0;
}

/* <!-- Newsletter Area End --> */

.newsletter-container {
    width: 80%;
    margin: auto;
}

.newsletter-area {
    text-align: center;
    padding: 55px 0 10px 0;
}

.newsletter-title {
    font-size: 36px;
    font-weight: 600;
    color: #cd366b;
    margin: 0;
}

.newsletter-description {
    font-size:20px;
    font-weight: 300;
    color: #44364e;
    padding: 10px 0;
}

.newsletter-input {
    text-align: center;
    padding: 55px 0 10px 0;
}

.newsletter-background {
    width: 60%;
    margin: auto;
    background-color: #C62F64;
    padding:70px 60px;
    border-radius: 10px;
}

.newsletter-input {
    width: 300px;
    text-align: center;
    border: 2px solid #F38719;
    padding: 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -10px;
}

.newsletter-input-value {
    color: #ffffff;
    background-color: #F38719;
    width: 120px;
    text-align: center;
    border: 2px solid #F38719;
    padding: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

/* Newsletter Area End */

.footer-container {
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    background-color:#382A41;
    padding: 30px 0;
}